
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Segoe UI", system-ui, -apple-system, BlinkMacSystemFont;
    background:#fff;
    color:#333;
    line-height:1.6;
}



a{
    text-decoration:none;
    color:inherit;
}


.nav-section{
    position:fixed;
    top:0;
    width:100%;
    background:rgba(12,14,80,0.96);
    backdrop-filter:blur(6px);
    z-index:999;
}

.navbar{
    max-width:1250px;
    margin:auto;
    padding:12px 24px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
img{
    max-width:100%;
    display:block;
}

.logo img{
    height:52px;
    transition:transform .3s ease;
}

.logo img:hover{
    transform:scale(1.05);
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:32px;
}

.navbar ul li a{
    color:#fff;
    font-weight:500;
    position:relative;
    padding:4px 0;
}


.navbar ul li a:hover{
    color:#f9c74f;
}

.RequestQuote{
    background:#f9c74f;
    color:#000;
    padding:6px 8px;
    display: inline flex;
    border-radius:7px;
    font-weight:500;
    cursor:pointer;
    transition:all .35s ease;
}

.RequestQuote:hover{
    background:#ffd86b;
    transform:translateY(-2px);
    box-shadow:0 10px 25px rgba(0,0,0,.25);
}


.hero{
    padding:150px 20px 100px;
    background:linear-gradient(135deg,#0c0e50,#1b1f8a);
    color:#fff;
    height: 800px;
}

.hero-box{
    max-width:1250px;
    margin:auto;
    
}

.hero h2{
    color:#f9c74f;
    font-size:29px;
}

.hero h1{
    font-size:46px;
    margin:14px 0;
    line-height:1.2;
}

.hero p{
    font-size:17px;
    max-width:650px;
    opacity:.95;
}

.BookMeeting,
.whatsapp-Chat{
    display:inline-flex;
    align-items:center;
    gap:5px;
    padding:14px 26px;
    border-radius:35px;
    margin:25px 15px 0 0;
    font-weight:600;
    cursor:pointer;
    transition:all .4s ease;
}





.BookMeeting{
    background:#f9c74f;
    color:#000;
}

.BookMeeting:hover{
    transform:translateY(-4px);
    box-shadow:0 14px 30px rgba(0,0,0,.35);
}

.whatsapp-Chat{
    background:#25D366;
    color:#000;
}

.whatsapp-Chat:hover{
    transform:scale(1.05);
    box-shadow:0 12px 28px rgba(0,0,0,.35);
}


.whatsapp-Chat img{
    width:26px;
    
}

.BookMeeting img{
    height: 22px;
}


.abouts{
    padding:100px 20px;
    background:#f9fafc;
}

.about{
    max-width:1250px;
    margin:auto;
}

.about h1{
    font-size:40px;
    color:#0c0e50;
}

.about p{
    margin:14px 0;
}

.about-point{
    margin-top:35px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:22px;
}

.Experience{
    background:#fff;
    padding:18px;
    border-radius:12px;
   
    transition:all .35s ease;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.Experience:hover{
    transform:translateY(-6px);
 
    box-shadow:0 18px 40px rgba(0,0,0,.15);
   background:linear-gradient(135deg,#0c0e50,#1b1f8a);
   color: white;
}


.services{
    padding:100px 20px;
    text-align:center;
}
.BookMeetings img{
height: 20px;
}


.BookMeetings{
        display:inline-flex;
    align-items:center;
    gap:3px;
    padding:14px 26px;
    border-radius:35px;
    margin:25px 15px 0 0;
    font-weight:600;
    cursor:pointer;
    transition:all .4s ease;
}
.BookMeetings{
    
    background:#f9c74f;
    color:#000;
}

.BookMeetings:hover{
    transform:translateY(-4px);
    box-shadow:0 14px 30px rgba(0,0,0,.35);
}

.explore-buttons{
     display:inline-flex;
    align-items:center;
    gap:5px;
    padding:14px 26px;
    border-radius:35px;
    margin:25px 15px 0 0;
    font-weight:600;
    cursor:pointer;
    transition:all .4s ease; 
}

.explore-buttons{
    
    background:#f9c74f;
    color:#000;
}

.explore-buttons:hover{
 transform:translateY(-4px);
    box-shadow:0 14px 30px rgba(0,0,0,.35);
}
.explore-buttons img{
    height: 20px;
}

.Service-H1{
    font-size:38px;
    color:#0c0e50;
}

.service-section{
    max-width:1250px;
    margin:50px auto 0;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:28px;
}

.service{
    background:#fff;
    padding:20px;
    border-radius:16px;
    font-weight:600;
    transition:all .4s ease;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.service:hover{
    transform:translateY(-8px) scale(1.02);
    background:linear-gradient(135deg,#0c0e50,#1b1f8a);
    color:#fff;
}




.gallery{
    padding:100px 20px;
    background:#f9fafc;
  
}

.gallery P{
    font-size: 16px;
    padding-left: 100px;
    
    
      
}
.t{
    text-align: center;
}

.gallery p{
    margin:14px 0;
}

.gallery h1{
    font-size:38px;
    color:#0c0e50;
    margin-bottom:14px;
    padding-left: 100px;
 
}


.gallery h2{
    color:black;
    font-size:24px;
    padding-left: 100px;
   
}

.gallery-grid{
    padding: 100px;
    margin-top:-10px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:12px;
  
  
   
}


.gallery-grid img{

    transition:all .45s ease;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
   height: 200px;
   width: 300px;
    border-radius:9px;
    gap: 12px;
   
   
}




.gallery-grid img:hover{
    transform:scale(1.05);
    
}



.explore-button{
         display:inline-flex;
    align-items:center;
    gap:5px;
    padding:14px 26px;
    border-radius:35px;
    margin:25px 15px 0 0;
    font-weight:600;
    cursor:pointer;
    transition:all .4s ease; 
    margin-top: -30vh;
    
    
    
}

.explore-button{
    
    background:#f9c74f;
    color:#000;
  
}

.explore-button:hover{
 transform:translateY(-4px);
    box-shadow:0 14px 30px rgba(0,0,0,.35);
}
.explore-button img{
    height: 20px;
}


.get-quote{
    padding:100px 20px;
    background:linear-gradient(135deg,#0c0e50,#1b1f8a);
    color:#fff;
    text-align:center;
    cursor: pointer;
}

.get,
.get-connect{
    display:inline-flex;
    align-items:center;
    gap:5px;
    padding:14px 28px;
    border-radius:35px;
    margin:15px;
    font-weight:600;
    transition:.4s;
}

.get{
    background:#f9c74f;
    color:#000;
}
.get img{
    height: 20px;


}

.get:hover{
    transform:translateY(-4px);
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}

.get-connect{
    background:#25D366;
    color: black;
}
.get-connect img{
    height: 25px;
}

.get-connect:hover{
    transform:scale(1.05);
}


.footer{
    background:#080a3a;
    color:#ddd;
    padding:20px 20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:40px;
}

.footer h2{
    color:#fff;
}

.footer p a:hover{
    color:#f9c74f;
}

.last-footter{
    background:#050628;
    color:#aaa;
    text-align:center;
    padding:16px;
}
.logos img{
    height: 20%;
}


.contact-sec img{
    width:26px;
   border-radius: 6px;
}
.contact-sec a{
    display: inline-flex;
   padding: 3px;
}


/*
@media(max-width:768px){
    .navbar ul{
        display: none;
    }

    .hero h1{
        font-size:32px;
    }

    .service:hover{
        transform:none;
    }
}


*/



/*

@media (max-width:768px){

  .navbar{
    flex-wrap:wrap;
  }

  .navbar ul{
    display:flex;              
    width:100%;
    flex-direction:column;     
    background:#0c0e50;
    margin-top:12px;
    padding:20px 25px;
    gap:12px;
  }

  .navbar ul li a{
    display:block;
    width:100%;
  }

  .RequestQuote{
    margin-top:9px;
  }
  .h2{
       padding-top: 250px;
    }
   .hero{
        height: 1000px;
    }
      .gallery-grid{
        padding:71px;
    }
     .about-Portfolio p{
        padding: 0px;
        
    }
    .about-Portfolio h1{
        padding: 0px;
    }
     .about-Portfolio h2{
        padding: 0px;
    }
}


*/

@media (max-width:768px){

  .navbar{
    flex-wrap:wrap;
  }

  .navbar ul{
    display:flex;              
    width:100%;
    flex-direction:row;     
    background:#0c0e50;
    margin-top:12px;
    padding:20px 25px;
    gap:12px;
  }

  .navbar ul li a{
    display:block;
    width:100%;
  }

  .RequestQuote{
    margin-top:9px;

  }
  .h2{
       padding-top: 100px;
    }
   .hero{
        height: 800px;
    }
      .gallery-grid{
        padding:71px;
    }
     .about-Portfolio p{
        padding: 0px;
        
    }
    .about-Portfolio h1{
        padding: 0px;
    }
     .about-Portfolio h2{
        padding: 0px;
    }
}


/* whatsapp section */
.whatsapp-float {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  width: 48px;
  height: 48px;
  background: #25D366;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;

  transition: all 0.3s ease;
}

.whatsapp-float img {
  width: 24px;
  height: 24px;
}

.whatsapp-float:hover {
  background: #1ebe5d;
  transform: translateY(-50%) scale(1.1);
}


@media(max-width:480px){
    .BookMeeting,
    .whatsapp-Chat{
        display:block;
        margin:15px auto;
    }

    .gallery-grid{
        padding:71px;
    }

    .hero{
        height: 1100px;
    }

    .h2{
       padding-top: 70px;
    }


    .about-Portfolio p{
        padding: 0px;
        
    }
    .about-Portfolio h1{
        padding: 0px;
    }
    .about-Portfolio h2{
        padding: 0px;
    }

    .navbar ul{
    flex-direction:row;
    gap:12px;
    text-align:start;
  }
}
